/* Resetando alguns estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #1e3d58;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  section {
    padding: 2rem;
    text-align: center;
  }
  
  #ao-vivo {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 2rem;
  }
  
  .radio-player {
    margin-top: 20px;
  }
  
  #atividades {
    background-color: #e9f1f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #atividades-lista {
    margin-top: 20px;
    font-size: 1.1rem;
  }
  
  footer {
    background-color: #1e3d58;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
  }
  
  footer p {
    margin: 5px 0;
  }
  